<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Message: </span>
      <span>Please verify your email here:
        <a href="">Verify {{message}}</a></span>
    </div>
  </body>
</html>